.App > div:nth-child(1) {
    color: #ffffff;
    padding: 5% 5%;
    box-sizing: border-box;
    background: #212121;
    height: 100vh;
}

li.toolbar__navigation-lis {
    list-style: none;
    padding: 10px;
}

.toolbar__navigation-lis img{
    border-radius: 30px;
}

.toolbar__navigation-lis a {
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #EFEFEF;
    text-shadow: 0 1px #333;
}

li.toolbar__navigation-lis.name {
    text-align: center;
    font-size: 18px;
    padding-bottom: 0px;
}

li.toolbar__navigation-lis.job-title {
    text-align: center;
    padding-bottom: 40px;
}

li.toolbar__navigation-lis.job-title a {
    font-size: 14px;
}